<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<!-- Database configuration -->
		<add key="DB_HOST" value="SRVSAGE\SAGEEXPRESS" />
		<add key="DB_PORT" value="1433" />
		<add key="DB_DATABASE" value="STANDARD" />
		<add key="DB_USERNAME" value="LOGIC" />
		<add key="DB_PASSWD" value="Eg@s1221$" />

		<!-- License and client information -->
		<add key="LICENSE_ID" value="483a4262-f4be-45e7-ba42-643502333a87" />
		<add key="CLIENT_CODE" value="q0eqfuG-Xz8KDLD9pp8VVi7FGztRFj7WLEAJk68T8NBiHz1jSp4iFihW8GAKiKYheo8DxheHkln1vHa7XHF1KA" />
		<add key="BITRIX_CLIENT_CODE" value="test" />

		<!-- Bitrix24 configuration -->
		<add key="BITRIX_URL" value="https://bit24.bitrix24.eu/rest/2523/0lhk1imaxwik2lh5/" />

		<!-- Synchronization settings -->
		<add key="PACK_EMPRESA" value="true" />

		<!-- Sync interval in minutes (optional, default is 5) -->
		<add key="SYNC_INTERVAL_MINUTES" value="5" />
	</appSettings>
</configuration>